name: Build NixOS systems

on:
  push:
    branches:
      - main
    paths:
      - "**.nix"
      - "flake.lock"
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  discover-hosts:
    name: Discover NixOS hosts
    runs-on: ubuntu-latest
    if: github.event_name != 'push' || !contains(github.event.head_commit.message, 'Merge pull request')
    outputs:
      hosts: ${{ steps.get-hosts.outputs.hosts }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Get NixOS hosts from directories
        id: get-hosts
        run: |
          JSON_LIST=$(
            find ./hosts -mindepth 1 -maxdepth 1 -type d \
              | xargs -n 1 basename \
              | jq -R . \
              | jq -sc .
          )
          echo "hosts=$JSON_LIST" >>"$GITHUB_OUTPUT"

  build-hosts:
    name: Build ${{ matrix.host }}
    runs-on: ubuntu-latest
    needs: discover-hosts
    strategy:
      fail-fast: false
      matrix:
        host: ${{ fromJSON(needs.discover-hosts.outputs.hosts) }}
    steps:
      - name: Nothing but Nix
        uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: "cleave"

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GH_TOKEN }}

      - uses: cachix/cachix-action@v15
        with:
          name: rafaelcga
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build and test flake
        run: nix build -L .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel

  check-builds:
    name: Check builds
    runs-on: ubuntu-latest
    needs: build-hosts
    if: ${{ always() }}
    steps:
      - name: Check status of built hosts
        if: ${{ needs.build-hosts.result == 'failure' }}
        run: exit 1
