name: Update Flake

on:
  schedule:
    - cron: "0 10 * * *"
  workflow_dispatch:

jobs:
  update-and-pr:
    name: Update and create PR
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GH_TOKEN }}

      - name: Update flake.lock
        run: nix flake update

      - name: Run local packages update script
        run: ./scripts/update_pkgs.sh

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GH_TOKEN }}
          commit-message: "chore: updated flake"
          title: "Updated Flake"
          body: Automated update of the `flake.lock` and local Nix packages.
          branch: "nix-flake-update"
          delete-branch: true
